@import url('/fonts/open_sans.css');

:root {
    --body-bg-color: #f2f2f2;
    --separator-bg-color: darkgrey;

    --content-bg-color: #fff;

    --button-text-color: #fff;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--body-bg-color);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

svg {
    height: 1.5rem;
    width: 1.5rem;
}

.content {
    text-align: center;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;

    margin: 1rem;
    padding: 0.5rem;
    background: var(--content-bg-color);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);

    gap: 1rem;
}

.user-info > * {
    align-self: center;
}

.user-company {
    cursor: pointer;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    background: #00B4CC;
    color: #fff;
}

.verified-logo {
    cursor: pointer;
    color: #00B4CC;
    margin-left: 0.1rem;
    width: 1.3rem;
    height: 1.3rem;
}

.mail-logo {
    cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
}

.logout-button {
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 0.1rem;

    background: #DF0EF1;
    color: var(--button-text-color);
}

.logout-button > * {
    align-self: center;
}

.logout-button:hover {
    background: #D76EE0FF;
}

.toggle-offer-form {
    text-align: center;
    cursor: pointer;
    border: none;
    height: 2rem;
    width: 10rem;
    padding: 0 0.5rem 0 0.5rem;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);

    margin-bottom: 1rem;
}

.offer-case-select {
    width: 10rem;
    height: 2rem;
    border: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
}

.new-offer-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin: 1rem;
}

.new-offer-form > select {
    margin-bottom: 1rem;
}

.new-offer-form > label {
    margin-bottom: 0.5rem;
}

.new-offer-form > textarea {
    width: 25rem;
    height: 20rem;
}

.new-offer-form > button {
    margin-top: 1rem;
    width: 9rem;
    height: 2rem;
    border: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
}

.error {
    margin: 0.5rem 0 0.5rem 0;
    color: #DF0EF1;
}

.offers-list {
    margin-top: 2rem;
}

.offer {
    background: #fff;
    padding: 0 0.5rem 0 0.5rem;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
}

.offer > h5 {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background: #ebebf5;
}

.offer-requests {
    text-align: left;
}

#description {
    width: 100%;
    margin-right: 2.5rem;
}

.request-toggle-container {
    display: flex;
    justify-content: end;

    margin-right: 0.5rem;
}

.request-toggle-container > svg {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.request-info {
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
}

.request-email-container {
    display: flex;
    gap: 0.5rem;
}

.request-email-container > svg {
    width: 1.3rem;
    height: 1.3rem;
    color: green;
}

.request-email {
    cursor: pointer;
}

.case-line {
    display: flex;
}

.case-line > h4 {
    padding: 0.15rem 0.5rem 0.15rem 0.5rem;
}

.case-name {
    margin-left: 0.6rem;
    background: #9dacc5;
    border-radius: 9999px;
}

.company-line {
    display: flex;
}
